<div class="container">
    <ul class="list-inline list-group">
        <li class="list-group-item">User Info</li>
        <li data-ng-repeat="item in userBtns" class="list-group-item"> <i class="{{item.icon}}"></i>{{ item }}</li>
    </ul>
    <br/>
    <button class="btn btn-success">Add Security Admin</button>
    <h3>Security Administratos</h3>
    <table class="table table-bordered">
    	<tr>
    		<td>#</td>
    		<td>First Name</td>
    		<td>Last Name</td>
    		<td>Username</td>
    		<td>Rights</td>
    	</tr>
    	<tr ng-repeat="user in userList">
    		<td>{{ user.number }}</td>
    		<td>{{ user.fName }}</td>
    		<td>{{ user.lName }}</td>
    		<td>{{ user.username }}</td>
    		<td>{{ user.rights }}</td>
    	</tr>
    </table>
    <br/>
    <h3>User Logging</h3>
    <table class="table table-bordered">
    	<tr>
    		<td>#</td>
    		<td>Name</td>
    		<td>Username</td>
    		<td>Log in Date/Time</td>
    		<td>Active Time</td>
    		<td>Visited Pages</td>
    	</tr>
    	<tr ng-repeat="login in loggingList">
    		<td>{{ login.number }}</td>
    		<td>{{ login.name }}</td>
    		<td>{{ login.username }}</td>
    		<td>{{ login.loginDateTime }}</td>
    		<td>{{ login.activeTime }}</td>
    		<td><a href="#">{{ login.visitedPages.length }} pages</a></td>
    	</tr>
    </table>
    <div class="misc-settings">
    	<label for="timeout_id">Users session time out:</label>
    	<!-- <div class="dropdown">	
    		<div class="dropdown-menu">
	    		<li class="dropdown-menu-item">15 Minutes</li>
	    		<li>20 Minutes</li>
	    		<li>45 Minutes</li>
	    		<li>60 Minutes</li>
	    	</div>
    	</div> -->
    	<div class="dropdown">
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">15 Minutes<span class="caret"></span></button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		  </ul>
		</div>
		<button class="btn btn-success">Export Data</button>
    </div>
    
</div>
