<div ng-if="!book">
	Loading results...
</div>

<!-- return formatted results -->
<div ng-if="book.Error==='0'">
	<p class="inner-p">{{ book.ID }}</p>
	<img ng-src="{{ book.Image}}">
	<div class="book-attributes">
		<h1>
			{{ book.Title}}
		</h1>
		<h4>
			{{ book.SubTitle}}
		</h4>
		<p>
			{{ book.Author}}
		</p>

		<blockquote>
			{{ book.Description}}	
		</blockquote>

		<div class="blockquote-reverse">
			<span>
				ISBN: {{ book.ISBN}}
			</span><br>
			<span>
				Pages: {{ book.Page}}
			</span><br>
			<span>
				Year: {{ book.Year}}
			</span><br>
			<span>
				Publisher: {{ book.Publisher}}
			</span>
		</div>	
			
	</div>
		


	<a href="{{ book.Download}}">Download Book</a>
	
</div>


<div ng-if="book.Error==='Book not found!'">
	No results found.
</div>