@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "assets/fonts/font-awesome";
@import "../bower_components/angular-loading-bar/build/loading-bar.css";

/* Component LESS */
@import "home/home.less";
@import "help/help.less";
@import "common/common.less";
@import "post/post.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin: 10px 20px;
  background-color: red;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


