<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Instagram application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.2.0rc1/angular-route.min.js"></script>
        <script src="http://underscorejs.org/underscore.js"></script>
        <script src="tags.js"></script>
        <link rel="stylesheet" href="main.css"/>
    </head>
    <body ng-app="tags">

       <div class="container" >
           <h1>Tag Finder</h1>
           <p>Type a tag into the field and click <i>search</i></p>
           <div class="searchControls" ng-controller="searchController">
               <input type="text"  name="query" class="input form-control" placeholder="Search..."/>
               <input value="search" class="btn btn-info btn-lg" type="button" ng-click="onSearchClick()"/>
               <button type="button" ng-click="onGenInfo()"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View Info</button>
           </div>
           <div class="results">
               <ul class="list"></ul>
           </div>
       </div>


       <div class="container">
           <!-- Modal -->
           <div class="modal fade" id="myModal" role="dialog">
               <div class="modal-dialog">

                   <!-- Modal content-->
                   <div class="modal-content">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal">&times;</button>
                           <h4 class="modal-title">Modal Header</h4>
                       </div>
                       <div class="modal-body">
                           <p>ERROR: please provide tag information!</p>
                           <ul></ul>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                   </div>

               </div>
           </div>

       </div>

    </body>
</html>
