<header class="site-header">
  <div class="header-left">
    <img src="https://gravatar.com/avatar/10056dfd9bd277610a657d2aee28089b?s=200" alt="tazzledazzle logo" class="gravatar blog-avatar">
    <span class="blog-title">{{ site.title }}</span>
    </div>
    <div class="header-right">
  <nav class="header-nav">
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/career">Career</a>
    <a href="https://github.com/tazzledazzle">GitHub</a>
  </nav>
  </div>
  <div class="blog-divider"></div>
</header>
<div class="brand">{{ site.description }}</div>
<hr class="blog-divider">
