<div class="container">
    <div class="image">
        <img src="https://placehold.it/500x500" alt=""/>
    </div>
    <br/>
    <div class="sub-images">
        <img src="https://placehold.it/50x50" alt="" style="border: 1px solid black"/>
        <img src="https://placehold.it/50x50" alt="" style="border: 1px solid black"/>
        <img src="https://placehold.it/50x50" alt="" style="border: 1px solid black"/>
        <img src="https://placehold.it/50x50" alt="" style="border: 1px solid black"/>
    </div>
    <div class="toy-info" data-ng-model="toys[0] as i">
        <h3>{{i.title}}</h3>
        <p>{{i.desc}}</p>
    </div>
</div>