---
// @ts-nocheck
import MainLayout from "../layouts/MainLayout.astro";
import { getEntry } from "astro:content";

const career = await getEntry("career", "default");
---

<MainLayout title="Career | Terence Schumacher">
  <h1>Career</h1>
  <ul>
    {career?.data.roles.map((role) => (
      <li>
        <h2>{role.title}</h2>
        <p>{role.employer} · {role.start_date} - {role.end_date}</p>
      </li>
    ))}
  </ul>
</MainLayout>
