<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Youtube to Gif Converter</title>
    <link rel="stylesheet" href="assets/main.css"/>
	<!-- Latest compiled and minified CSS -->
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
</head>
<body>

	
	<div class="container">
		
		<div id="video-collection"></div>
		
	</div>
	
	<!-- templates -->
	<script type="text/template" id="app-template">
        <!--index.html-->
		<div class="navbar-form navbar" role="search">
        <div class="form-group">
          <input type="text" class="form-control" id="search" placeholder="Search">
        <button type="submit" class="btn btn-default" id="submitBtn">Submit</button>
        </div>
      </div>
		<div class="col-md-12 panel panel-default" id="results">
		</div>
		<div class="footer col-md-12">
			<input type="button" class="btn btn-primary center-block" name="loadMore" value="Load More">
		</div>
	</script>
	<script type="text/template" id="video-template">
		<div class="col-md-4">
			<div class="video-view panel panel-default">
				<div class="panel-heading"><%= title%></div>
				<div class="panel-body">
					<div class="thumbnail">
						<img class="video-image" src="<%= url%>" alt="<%= source %>">
						<div class="caption">
							<%= description%>
						</div>
					</div>
				</div>
			</div>
		</div>
    </script>
	<script type="text/template" id="modal-template">
		<!-- Video / Generic Modal -->
		<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<!-- content dynamically inserted -->
					</div>
					<div class="modal-footer">
						<input type="text" id="startTime" placeholder="Start time"><input type="text" id="endTime" placeholder="End time"><input type="text" id="totalTime" placeholder="Total time" editable="false">
						<br>
						<input type="button" class="btn btn-primary center-block" id="generate" value="Start Record">
					</div>
				</div>
			</div>
		</div>
	</script>

        <script src="https://apis.google.com/js/client.js?"></script>
		<script>
			onload = function() {
			  gapi.client.load('youtube','v3');
			  gapi.client.setApiKey('AIzaSyDbpM0CkVgnQQaHhvufkFO_74W_JxH6mBA');
			}
		</script>

        <script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="node_modules/underscore/underscore-min.js"></script>
        <script src="node_modules/backbone/backbone-min.js"></script>
        <script src="node_modules/backbone.localstorage/backbone.localStorage-min.js"></script>
        <script src="models/video.js"></script>
        <script src="collections/videos.js"></script>
        <script src="views/videos.js"></script>
        <script src="views/app.js"></script>
        <script src="routers/router.js"></script>
        <script src="app.js"></script>
</body>
</html>