<!DOCTYPE html>
<html ng-app="">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
    Hello World
    <br/>
    <div>
        <h2>Basic Angular directive</h2>
        <div class="container">
            Name: <input type="text" ng-model="name" /> {{ name }}
        </div>
    </div>
    <div>
        <h2>Iterating Directive</h2>
        <div class="container" data-ng-init="names=['Dave','Napur','Heedy','Shriva']">
            <h3>Looping with the ng-repeat directive</h3>
            <ul>
                <li data-ng-repeat="person in names">{{ person }}</li>
            </ul>
        </div>
    </div>
    <div>
        <h2>Using Filters</h2>
        <div class="container" data-ng-init="customers=[{name: 'John Smith', city: 'Phoenix'},
        {name: 'John Doe', city: 'New York'}, {name: 'Jane Doe', city: 'San Francisco'}]">
            Name: <br/>
            <input ng-model="name2" type="text"/> {{ name2 }}
            <ul>
                <li data-ng-repeat="cust in customers | filter:name2 | orderBy: 'city' "> {{ cust.name }} - {{ cust.city }} </li>
            </ul>
        </div>
    </div>

    <div>
        <h1>Invitation to Angular</h1>
        <input type="text" ng-model="mySpecies" placeholder="What is your species?">
        <p>
            It is a great honor to bask
            in the presence of a {{ mySpecies || 'human' }}.
        </p>
        <p>Angular humbly welcomes you.</p>
    </div>
    <div>
        <h2>Scope</h2>
        <div>
            <h1>Black and Yellow</h1>
            <div style="background: {{ color }}; height: 40px; widows: 40px;" ng-init="color = 'white'"></div>
            <button ng-click="color= 'black'">Black</button>
            <button ng-click="color= 'yellow'">Yellow</button>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
        console.log($rootScope);
        var myApp = angular.Module('myApp', []);
    </script>

    </body>
</html>