<!DOCTYPE html>
<html ng-app="myApp">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body >

        <div >
            <h2>Using Filters</h2>
            <div class="container" ng-controller="SimpleController">
                Name: <br/>
                <input ng-model="name" type="text"/> {{ name }}
                <ul>
                    <li ng-repeat="cust in customers | filter:name | orderBy: 'city' "> {{ cust.name }} - {{ cust.city }} </li>
                </ul>
            </div>
        </div>

        <script>
            (function() {
                angular.module('myApp', []).controller('SimpleController', function SimpleController($scope) {

                    $scope.customers = [
                        {name: 'a', city: 'Detroit'},
                        {name: 'b', city: 'Cleveland'},
                        {name: 'c', city: 'Seattle'}
                    ];
                });
            }());
        </script>

        <script src="angular.js">

        </script>
    </body>
</html>