<div class="user-navigation">
    <ul class="list-inline list-group">
        <!--<li class="list-group-item">User Info</li>-->
        <li data-ng-repeat="item in userBtns" class="list col-md-3">
            <button class="btn-circle btn-xl "><i class="{{item.icon}} icon-button"></i></button>
            <div class="list-group-item-component">
                <div class="component-num">{{ item.num}}</div> <div class="component-label">{{ item.label }}</div>
                <div class="component-date">{{ item.date}}</div>
            </div>
        </li>
    </ul>
</div>
<div class="container">
    <br/>
    <button class="btn btn-success">Add Disclosure</button>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="disclosures in disclosuresList">
        	<div class=" btn btn-circle">
        		<i class="{{ disclosures.listIcon }}"></i>
        	</div>
        	<h3>{{disclosures.title}}</h3> <div class="editable-description">{{ disclosures.content }}<p>{{disclosures.date}}</p></div>
        	<div class="disclosure-btn-controls">
        		<i class="fa fa-pencil"></i>
        		<i class="fa fa-times"></i>
        	</div>
        </li>
    </ul>
</div>
