@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "assets/fonts/font-awesome";
@import "../bower_components/angular-loading-bar/build/loading-bar.css";

/* Component LESS */
@import "home/home.less";
@import "help/help.less";
@import "common/common.less";
@import "post/post.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }
body {
    background-color: lightgray;
}
// light-blue #7fc5e4
// gray #333333
// other-gray #292929
// dark-blue #242e3d
// royal-blue #142b56
.container {
    background-color: #f5f5f5;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin: 10px 20px;
  background-color: red;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;

}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
//  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
    background-color: #f5f5f5;
    color: #142b56;
}
// this is for the main content page
.navbar-static-top, .navbar-nav {
    background-color: #142b56;
    li {
        a {
            color: #f5f5f5;

        }
        a:hover{
            color: #f5f5f5;
            background-color: #142b56;
            border-bottom: 1px solid #7fc5e4;
        }
        a:visited {
            background-color: #142b56;
            border-bottom: 1px solid #7fc5e4;
        }
        a:active {
            background-color: #142b56;
            border-bottom: 1px solid #7fc5e4;
        }
    }
    button{
        background-color: #7fc5e4;
    }

}
.icon-button {
    padding: 1px;
}
// this is for the login screen
.navbar-header {
    background-color: #142b56;
//    padding-bottom: 5px;
    width: 100%;
    text-align: center;


}
.navbar {
    padding-bottom: 1px;

}
.login-logo {
    text-align: center;
    height: 40%;
    width: 20%;
}

.panel-login {
    margin-top: 200px;
    text-align: center;
    padding: 35px 10px;
    width: 35%;
    margin-left: 34%;
    input {
        width:65%;
    }
    button {
        width:80%;
        height: 35px;
        background-color: #7fc5e4;
//        color: #f5f5f5;
        border: none;
    }
    box-shadow: 0 0 1em lightgrey ;
}
.container-fluid {
     padding-left: 1px;
    padding-right: 1px;
    margin-top: -41px;
}


.checkbox {
    label {
        padding-right: 80px;
        padding-left: 0px;
    }
}
.fa-title {
    padding: 10px;
}

.invalid-user {
    color: #ff0000;
}

.footer {
    background-color: #333333;
    text-align: center;
    color: #f5f5f5;
    position:fixed;
    left:0px;
    bottom: 0px;
    height:30px;
    width:100%;
}

.style-4 input[type="text"] {
    padding: 10px;
    border: none;
    width:88%;
//    border-bottom: solid 2px #c9c9c9;
//    transition: border 0.3s;
}

.input-with-icon {
    width: 78%;
    border-bottom: solid 2px #c9c9c9;
    margin-left: 36px;
    i{
        color: #7fc5e4;
    }
}

.list-group {
    width: 100%;
    left: 0;
    color: #f5f5f5;
    background-color: #142b56;
    .list {
        background-color: #142b56;
        border: none;
        padding-top: 20px;
        height: 138px;
        .list-group-item-component {
            float: right;
            width: 62%;
            font-size: 20px;

            .component-num {
                font-size: larger;
            }
            .component-label {
                font-size: small;
            }
            .component-date {
                font-size: x-small;
            }
        }
    }


}

