<div class="container">
    <ul class="list-inline list-group user-btn-group">
        <li class="list-group-item">User Info</li>
        <li data-ng-repeat="item in userBtns" class="list-group-item"> <i class="{{item.icon}}"></i>{{ item }}</li>
    </ul>
    <div class="post-notification">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-brand"><a href="#">Home</a> > Home Banner</div>
            </div>
            <h4>Something goes here</h4>
        </div>
        <div class="message">
            <h4>Message</h4>
            <textarea name="message-textarea" id="message-textarea" class="form-control" placeholder="Type your message here..." cols="30" rows="14">

            </textarea>
        </div>

        <div class="post-media-container ">
            <div class="upload-media col-md-6">
                <h4>Upload Media</h4>
                <div class="panel">
                    <p class="info">Drag and Drop files here</p><br/>
                    <i class="fa fa-file-text fa-5x"></i><br/>
                    <button class="btn btn-info">Or Upload</button>
                </div>
            </div>
            <div class="paste-media-url col-md-6">
                <h4>Or Paste URL here</h4>
                <input class="form-control" placeholder="URL" type="text"/>
            </div>
            <div class="media-btns pull-right">
                <button class="btn btn-default disabled">Cancel</button>
                <button class="btn btn-success">Post</button>
            </div>
        </div>
    </div>
</div>
