<header class="site-header">
  <div class="header-left">
    <img src="https://2.gravatar.com/avatar/{{ site.gravatar_hash }}?s=100" alt="tazzledazzle logo" class="gravatar blog-avatar">
    <span class="brand">{{ site.title }}</span>
    </div>
    <div class="header-right">
  <nav class="header-nav">
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/career">Career</a>
    <a href="https://github.com/tazzledazzle">GitHub</a>
  </nav>
  </div>
  <div class="blog-divider"></div>
</header>
<div class="blog-title">{{ site.description }}</div>
<hr class="blog-divider">
